@font-face {
  font-family: "Baron Neue";
  src: url("/fonts/Baron Neue.otf") format("opentype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato-Bold.ttf") format("opentype");
}
