//Fonts

$font-main: "Lato-Regular";
$font-accent: "Baron Neue";
$font-bold: "Lato-Bold";

//Colors
$white: #ffffff;
$bg-gray: #f4f5f5;
$gray-header: #777777;
$gray-accent: #333333;
$gray: #333333;
$black: #303030;
$purple: #c79791;
$bardo: #7a1b1b;
$card-dark: #484848;
$card-purple: #c79791;
